.site-heading-lower{
    font-family: "American Typewriter";
    font-style: oblique;
}

.cta {
    background-color: rgba(198, 140, 79, 0.9);
}
#mainNav .navbar-brand {
    color: rgba(198, 140, 79, 0.9);
}

#mainNav {
    background-color: rgba(198, 140, 79, 0.9);
}
.section-heading-lower{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
